$helpColor: #e26237;
$sucColor: #1dc779;
$warnColor: #ffb302;
$priceColor: #cf4444;

$themeColor: rgb(180, 203, 181);
$themeTrans: rgba(180, 203, 181, 0.6);
$themeTrans3: rgba(180, 203, 181, 0.3);
$themeBold: rgb(158, 205, 160);
$themeLight: rgb(118, 211, 121);

$greyColor: #e0e0e0;
$greyColor2: #949494;
$greyNoraml: #c1c1c1;
$greyTrans: rgba(224, 224, 224, 0.6);

$darkGreen: rgb(76 109 77);
$qingGreen: rgba(90, 209, 205, 0.6)